<style>
	.angular-google-map {
			display: block;
		}
	div.uposts{
				padding:2px;
				background-color:#EFEFEF;
				box-shadow: 0px 0px 20px 0px #888888;
				width:55%;
				margin:15px auto;
	}
</style>
<div ng-controller="uploadController" class="uposts">
	<form name="uploadForm" ng-init="showImage=false; uploadSuccess=false;" novalidate ng-submit="uploadForm.$valid&& uploadDesc(u.title, u.description, clickedLatitudeProperty,
		 clickedLongitudeProperty, u.members, u.budget)">
		<h4>Enter Title of the post:</h4><input type="text" style="width:99%" placeholder="Title" ng-model="u.title" ng-Minlength="6" required><br>
		<h4>Enter Description of the Post :</h4><textarea rows="4" cols="50" type="textarea" style="width:99%" placeholder="Description" ng-model="u.description" ng-Minlength="10" required></textarea><br>
		<h4>Select Location of the garbage :</h4>
		<div>
			<google-map
				center="{lat: 17.2550958,lng: 78.8955657}"
				zoom="14" 
				markers="[{latitude:clickedLatitudeProperty, longitude:clickedLongitudeProperty}]"
				draggable="true"
				latitude="clickedLatitudeProperty"
				longitude="clickedLongitudeProperty"
				mark-click="true"
				style="height: 200px; width: 99%">
			</google-map>
		</div>
		<h4>Enter number of members required :</h4><input style="width:25%" type="text" placeholder="members" ng-model="u.members" required><br>
		<h4>Enter expected budget :</h4><input style="width:25%" type="text" placeholder="budget" ng-model="u.budget"><br>
		<input type="submit" value="Choose image" ng-click="showImage=!showImage">
	</form>
	
		 <div ng-show="showImage">
		 	<form action="http://swachhbharat.ibbu.in/back/uploadFromWeb.php" method="post" enctype="multipart/form-data" target="_blank">
		 		<input type="file" name="fileToUpload" id="fileToUpload">
		 		<input type="hidden" name="phone" id="phone" value="{{scopephone}}">
		 		<input type="hidden" name="counter" id="counter" value="{{scopecounter}}">
		 		<input type="submit" value="Post" name="submit" id="submit" ng-click="uploadSuccess=true;">
		 	</form>
		 </div>
		 <div ng-show="uploadSuccess"><h4>Posting Success</h4></div>
</div>